apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: my-app
  namespace: argocd
  annotations:
    # These annotations tell ArgoCD to use the image updater plugin
    # write-back method to update the image list or tag in the Git repository
    argocd-image-updater.argoproj.io/write-back-method: git
    # Git branch is the branch that should be used to update the image
    argocd-image-updater.argoproj.io/git-branch: main
    # Image list is a list of images that should be updated
    argocd-image-updater.argoproj.io/image-list: img-alias=barisvarlik.azurecr.io/pipeline-demo-calc
    # Update strategy is the strategy that should be used to update the image
    argocd-image-updater.argoproj.io/update-strategy: latest
    # This is the secret that contains the credentials to access the container registry
    argocd-image-updater.argoproj.io/pull-secret: pullsecret:argocd/argocd-gcr-secret  
spec:
  source:
    # This is the repository that contains the helm chart
    repoURL: https://github.com/xbvarlik/demo-infrastructure.git
    # This is the path to the helm chart, the name is arbitrary
    path: helm
    targetRevision: HEAD
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: dev
  project: default
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      selfHeal: true
      prune: true
    
        

# CD Pipeline is implemented on the Azure, CI pipeline is waiting.
# PostSync Hook in ArgoCD that runs helm upgrade command + imagePullPolicy: Always in helm chart
# This provides every time a new image is pushed to the registry, helm will pull it and argocd will deploy it

# General Ideas:
# ArgoCD Container Registry'den triggerlanabilir mi?
# Helm Chart Container Registry'den triggerlanabilir mi?  
# Add something at the end of the workflow to make a request to the argo endpoint
