apiVersion: v1
kind: List
items:
  - apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: {{ include "myapp.fullname" . }}
    spec:
      replicas: {{ .Values.replicaCount }}
      selector:
        matchLabels:
          app: {{ template "myapp.fullname" . }}
      template:
        metadata:
          labels:
            app: {{ template "myapp.fullname" . }}
        spec:
          containers:
            - name: {{ .Chart.Name }}
              image: {{ printf "%s/%s:%s" .Values.image.repository .Values.image.tag }}
              ports:
                - containerPort: 80
  - apiVersion: v1
    kind: Service
    metadata:
      name: {{ include "myapp.fullname" . }}
    spec:
      selector:
        app: {{ template "myapp.fullname" . }}
      ports:
        - protocol: TCP
          port: 80
          targetPort: 80